@use "sass:math";
@use "./mixins" as m;
@use "./global" as *;

#app {
  height: 100%;
}

html {
  scrollbar-gutter: stable;
  &.lock {
    & body {
      overflow: hidden;
    }
  }
}

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 math.div($containerPadding, 2) + px;
}
