@use "./global" as *;

:root {
  // Color vars
  --text-heading: #353840;
  --text-default-accent: #d72824;
  --text-default-primary: #47454b;
  --text-default-primary-contrast: #47454b;
  --text-default-secondary: #9396a4;
  --text-default-additional: #c3c3c3;
  --bg-secondary: #f5f5f5;
  --bg-accent: #d72824;
  --bg-primary: #fff;
  --action-primary-default: #d72824;
  --action-primary-hover: #b90a06;
  --action-primary-unavailble: #9b9b9b;
  --action-secondary-default: #d72824;
  --action-secondary-hover: #d72824;
  --action-secondary-unavailble: #9b9b9b;
  --action-tertiary-default: #c3c3c3;
  --action-tertiary-hover: #47454b;
  --stroke-accent: #d72824;
  --stroke-primary: #d7d7d7;
  --text-primary: var(--text-heading);
  --black: #000;
  --text-gray: #858585;
  --text-red: #e63b2e;
  --white: var(--bg-primary);
  // Fonts
  --font-family: "Montserrat", sans-serif;
  --default-weight: 400;
  --font-size: 16px;
  --letter-spacing: -0.2px;
  // Header
  --header-height: 74px;
  --header-home-height: 98px;
  --time: 0.35s;
}

@media screen and (max-width: $md) {
  :root {
    --header-height: 87px;
    --header-home-height: 87px;
  }
}
